.Body h2{
  margin-bottom: 5%;
}

.PickButton{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.PickContent{
  display:flex;
  justify-content: center;
  margin-top: 5%;
}

.Content{
  height: 100vh;
}

@media(max-width:800px){
  .Body h2{
    margin-bottom: 10%;
  }
  
  .PickButton{
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .PickContent{
    margin-top: 15%;
  }
}